<form [formGroup]="newProjectForm" (ngSubmit)="createProject(newProjectForm.value.title)">
  <input type="text" formControlName="title" class="text-input" placeholder="Name your new project">
  <button type="submit" class="submit">Create</button>
</form>


<div *ngFor="let project of projects; index as projectId" class="project-preview">
  <a [routerLink]="['projects', projectId]" class="wide">
    <h3 >
      {{ project.title }}
    </h3>
  </a>
  <button class="delete-btn" (click)="deleteProject(projectId)">Delete</button>
</div>
