* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: system-ui, sans-serif;
  background-color: #FAFAFA;
}

.content {
  max-width: 720px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.submit {
  padding: 20px 30px;
  background-color: #2D9CDB;
  color: white;
  border: none;
  cursor: pointer;
}

.text-input {
  padding: 20px 30px;
  border: none;
  outline: 0;
  outline-offset: 0;
  background-color: white;
  width: 100%;
}

.project-preview,
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #E4E4E4;
  background-color: white;
  border-radius: 10px;
}

.clickable-header {
  padding: 20px 30px;
  width: 100%;
}

.delete-btn {
  padding: 20px 30px;
  border: none;
  background-color: transparent;
  color: #b30000;
  cursor: pointer;
}

.delete-btn:hover {
  color: #ff0000;
}

.task {
  padding: 20px 30px;
  cursor: pointer;
}
